body{
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(pexels-skitterphoto-390089.jpg);
    background-size:cover;
}

img{
    height: 360px;
    border-radius: 30px;
    padding: 10px;
}
main{
    position: absolute;
    display: inline-flex;
    text-align: center;
    padding: 20px;
    left: 19%;
    top: 10%;
    direction:initial; 
    overflow-x:auto;
    width: 80%;
    white-space: nowrap;
    color: rgb(0, 154, 165);
}

::-webkit-scrollbar {
    display: none;
}

#list{
    position: absolute;
    background-color: rgba(60, 190, 190, 0.521);
    height: 101%;
    top: -20px;
    left: -1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid blac;
}
main li:hover{
    transition: .4s;
}

h1{
    font-size: 50px;
    margin: 0;
    font-weight: bolder;
    font-style: italic;
    text-decoration:overline;
}


#button{
    border-radius: 30px;
    border: 2px solid rgb(60, 190, 190);
}

#button:hover{
    cursor: pointer;
    transition: .4s;
    transform: scale(1.1);
    background-color: rgb(60, 190, 190);
    border: 1px solid gray;
}

#delete{
    background-color: red;
    border-radius: 30px;
    border: 2px solid rgb(60, 190, 190);
    margin: 5px;
}
#delete:hover{
    cursor: pointer;
    transition: .4s;
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color: black;
}

ul li:hover{
    color: cyan;
    transition: .3s;
}

main li p:hover{
    transform: scale(1.2);
    transition: .4s;

}